body {
    background-color: #131313;
    color: white;
}

#main {
    text-align: center;
}

img {
    width: 800px;
}

#game-container canvas{
    margin: auto;
}

h1.title {
  text-align: center;
}


/* Portrait and Landscape */
@media screen
  and (max-device-height: 640px) {
      img {
          display: none;
      }

}
